.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-items-center {
    justify-items: center;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}


/* Header styles */

.header .brand-logo {
    /* потому что лого было с absolute position */
    position: static;
}

.header .currency-select input.select-dropdown {
    margin: 0;
    color: #fff;
    border-bottom: none;
}

.header .currency-select input.select-dropdown:focus {
    border-bottom: none;
}

.header .currency-select {
    width: 70px;
}

.header .currency-select .caret {
    /* Цвет на svg задается через специальное свойство fill, а не через color */
    fill: #fff;
}

.header .brand-logo {
    font-size: 1.5rem;
}